In [33]:
#Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

import pandas as pd

In [32]:
covid_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv")
print (covid_data)
print ("\nMissing data Information:")
print (covid_data.isna().sum())

Province/State                  Country/Region          Last Update  \
0            Hubei                           China  2020-03-17T11:53:10
1              NaN                           Italy  2020-03-17T18:33:02
2              NaN                            Iran  2020-03-17T15:13:09
3              NaN                           Spain  2020-03-17T20:53:02
4              NaN                         Germany  2020-03-17T18:53:02
..             ...                             ...                  ...
271            NaN                        Guernsey  2020-03-17T18:33:03
272            NaN                          Jersey  2020-03-17T18:33:03
273            NaN                     Puerto Rico  2020-03-17T16:13:14
274            NaN           Republic of the Congo  2020-03-17T21:33:03
275            NaN  occupied Palestinian territory  2020-03-11T20:53:02

     Confirmed  Deaths  Recovered  Latitude  Longitude
0        67799    3111      56003   30.9756   112.2707
1        31506    2503       2941   41.8719    12.5674
2        16169     988       5389   32.4279    53.6880
3        11748     533       1028   40.4637    -3.7492
4         9257      24         67   51.1657    10.4515
..         ...     ...        ...       ...        ...
271          0       0          0   49.4500    -2.5800
272          0       0          0   49.1900    -2.1100
273          0       0          0   18.2000   -66.5000
274          0       0          0   -1.4400    15.5560
275          0       0          0   31.9522    35.2332

[276 rows x 8 columns]

Missing data Information:
Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

In [31]:
print ("\nDataset Information:")
print (covid_data.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  126 non-null    object
 1   Country/Region  276 non-null    object
 2   Last Update     276 non-null    object
 3   Confirmed       276 non-null    int64
 4   Deaths          276 non-null    int64
 5   Recovered       276 non-null    int64
 6   Latitude        276 non-null    float64
 7   Longitude       276 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.4+ KB
None

In [21]:
print ("\nMissing data Information:")
print (covid_data.isna().sum())

Missing data Information:
Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

In [13]:
#Implementation using functions

import pandas as pd

def rows ():
    covid_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv")
    print(covid_data)
    print("\Missing data info:")
    print(covid_data.isna().sum())
    return(covid_data)
rows()

Province/State                  Country/Region          Last Update  \
0            Hubei                           China  2020-03-17T11:53:10
1              NaN                           Italy  2020-03-17T18:33:02
2              NaN                            Iran  2020-03-17T15:13:09
3              NaN                           Spain  2020-03-17T20:53:02
4              NaN                         Germany  2020-03-17T18:53:02
..             ...                             ...                  ...
271            NaN                        Guernsey  2020-03-17T18:33:03
272            NaN                          Jersey  2020-03-17T18:33:03
273            NaN                     Puerto Rico  2020-03-17T16:13:14
274            NaN           Republic of the Congo  2020-03-17T21:33:03
275            NaN  occupied Palestinian territory  2020-03-11T20:53:02

     Confirmed  Deaths  Recovered  Latitude  Longitude
0        67799    3111      56003   30.9756   112.2707
1        31506    2503       2941   41.8719    12.5674
2        16169     988       5389   32.4279    53.6880
3        11748     533       1028   40.4637    -3.7492
4         9257      24         67   51.1657    10.4515
..         ...     ...        ...       ...        ...
271          0       0          0   49.4500    -2.5800
272          0       0          0   49.1900    -2.1100
273          0       0          0   18.2000   -66.5000
274          0       0          0   -1.4400    15.5560
275          0       0          0   31.9522    35.2332

[276 rows x 8 columns]
\Missing data info:
Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
...,...,...,...,...,...,...,...,...
271,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
272,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
273,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
274,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
275,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332